<header class="fixed w-full sm:h-12 align-middle nav-bg text-white z-50">
	<div class="padded-container h-full sm:flex items-center justify-between">
		<a class="text-center block w-full sm:text-left sm:inline sm:w-auto orbitron tracking-wider" href="/">
			Vikas Potluri
		</a>
		<input type="checkbox" id="nav-toggle" class="invisible sm:hidden absolute" />
		<nav class="hidden text-center sm:block nav-collapsible">
			<ul class="list-none sm:flex sm:space-x-4 items-center">
				<li class="py-1 sm:py-0"><a href="/contact" class="link">Contact</a></li>
				<li class="py-1 sm:py-0"><a href="/uses" class="link">Uses</a></li>
				<li class="py-1 sm:py-0"><a href="/blog" class="link">Writing</a></li>
				<li class="py-1 sm:py-0"><a href="https://archive.vikaspotluri.me" class="link">The Vault</a></li>
				<li class="py-1 sm:py-0">
					<button id="theme-switcher" class="align-bottom">
						<svg class="w-6 h-6 fill-current hidden transition-colors hover:text-pink-700 dark">
							<use xlink:href="#dark-theme"></use>
						</svg>
						<svg class="w-6 h-6 fill-current hidden transition-colors hover:text-green-300 system">
							<use xlink:href="#system-theme"></use>
						</svg>
						<svg class="w-6 h-6 fill-current hidden transition-colors hover:text-yellow-400 light">
							<use xlink:href="#light-theme"></use>
						</svg>
					</button>
				</li>
			</ul>
		</nav>
		<label for="nav-toggle" class="sm:hidden nav-collapsible--icon">
			<svg class="mx-auto w-6 h-6 transition duration-100" fill="currentColor" role="img" viewBox="0 0 20 20">
				<path
					d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
					clip-rule="evenodd" fill-rule="evenodd /">
			</svg>
		</label>
	</div>
</header>
