*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea/*
*.iml
projectFilesBackup

.DS_Store

build/
dist/

_peekaboo
.vscode/
*.code-workspace

.env.json

exstatic
.exstatic

*.zip

_config.json

src/views/partials/volatile
