{{!< default}}

<div class="cover">
	<h1>Vikas' Writing</h1>
	<p>Musings and shenanigans</p>
</div>

<div class="container">
	<div class="gh-postfeed">
	{{#foreach posts visibility="all"}}
		{{> "card"}} {{!-- partials/card.hbs --}}
	{{/foreach}}
	</div>
</div>
