{{!< default}}

<div class="cover" style="z-index:-1">
	<div class="cover-content">
		<h1>Vikas' Writing</h1>
		<p>Musings and shenanigans</p>
	</div>
</div>

<div class="container bg-white relative">
	<div class="gh-postfeed">
	{{#foreach posts visibility="all"}}
		{{> "card"}} {{!-- partials/card.hbs --}}
	{{/foreach}}
	</div>
	{{#if pagination.next}}
	<div id="read-more-trigger" class="button with-border">Load More Posts</div>
	{{/if}}
</div>
