{{!< default}}

<div class="cover" style="z-index:-1">
	<div class="cover-content select-light">
		<h1>Vikas' Writing</h1>
		<p>Musings and shenanigans</p>
	</div>
</div>

<div class="container bg-primary relative">
	<div class="gh-postfeed">
	{{#foreach posts visibility="all"}}
		{{> "card"}} {{!-- partials/card.hbs --}}
	{{/foreach}}
	</div>
	{{> infinite-loader}}
</div>
