.card--wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 1rem;
}

.card {
	@apply min-h-full;
	@apply p-6;
	@apply rounded;
	transition: all 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media (max-width: 400px) {
	#work .content {
		grid-template-columns: initial;
	}

	.card {
		@apply w-full;
		@apply mx-auto;
	}
}

.card:hover {
	box-shadow: 0 1px 5px 0 var(--box-layer-1, rgba(0, 0, 0, 1)),
		0 1px 4px 0 var(--box-layer-2, rgba(0, 0, 0, 0.6)),
		0 1px 3px 0 var(--box-layer-3, rgba(0, 0, 0, 0.25));
}

.card-heading {
	@apply font-bold;
	@apply text-lg;
}

.card-heading--large {
	@apply text-2xl;
	@apply mb-8;
}

.card-description {
	@apply text-left;
	@apply list-disc;
	@apply px-6;
	@apply mt-4;
	@apply font-hairline;
	@apply tracking-wide;
}

.card-price {
	@apply border-t;
	@apply pt-4;
	@apply mt-8;
}

.card-price--description {
	@apply block;
}

.card-price--qty {
	@apply text-3xl;
}

.card-button {
	@apply inline-block;
	@apply mt-4;
	@apply py-2;
	@apply px-4;
	@apply bg-white;
	@apply w-auto;
	@apply text-blue-900;
	@apply font-medium;
	@apply rounded;
	transition: 0.25s ease-in-out;
}

.card-button:hover {
	@apply text-blue-300;
	@apply bg-blue-900;
}

.card-bg-green {
	background: linear-gradient(240deg, #005f03, #009900);
	--box-layer-1: #005f03ff;
	--box-layer-2: #005f0399;
	--box-layer-3: #005f0340
}

.card-bg-red {
	background: linear-gradient(240deg, #c23b22, #990000);
	--box-layer-1: #990000ff;
	--box-layer-2: #99000099;
	--box-layer-3: #99000040
}

.card-bg-blue {
	background: linear-gradient(240deg, #990099, #663399);
	--box-layer-1: #990099ff;
	--box-layer-2: #99009999;
	--box-layer-3: #99009940
}
