.fancy-input {
	@apply w-full;
	@apply my-6;
	@apply border;
	@apply rounded;
	@apply px-2;
	@apply relative;
	border-color: var(--fg-primary);
}

.fancy-input--label {
	@apply text-left;
	@apply absolute;
	@apply text-left;
	@apply px-4;
	@apply uppercase;
	@apply tracking-wide;
	@apply text-xs;
	@apply font-bold;
	@apply mb-2;
	@apply -mt-2;
	background: var(--bg-primary);
	left: theme('spacing.2');
}

.fancy-input--input {
	@apply appearance-none;
	@apply block;
	@apply w-full;
	@apply bg-gray-200;
	@apply dark:bg-gray-900;
	@apply rounded;
	@apply py-3;
	@apply px-4;
	@apply my-4;
	@apply leading-tight;
	color: var(--fg-primary);
}

.fancy-input--input::placeholder {
	@apply text-gray-600;
	@apply dark:text-gray-400;
}

.fancy-input--input:focus {
	@apply outline-none;
	@apply shadow;
}
