.link {
	--purple: #bfb2f3;
	--blue: #96caf7;
	--green: #9cdcaa;
	--yellow: #e5e1ab;
	position: relative;
	@apply px-1;
	@apply rounded;
	background: linear-gradient(
		214deg,
		transparent 50%,
		var(--purple),
		var(--blue),
		var(--green),
		var(--yellow)
	);
	background-size: 250% 250%;
	transition-property: background-position, color;
	transition-duration: 1500ms;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	background-position: 100% 0;
	/* transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.dark .link {
	--purple: #361aa8;
	--blue: #0d64af;
	--green: #318c45;
	--yellow: #948d2e;
}

.link:hover {
	/* background: linear-gradient(214deg, #bfb2f3 , #96caf7, #9cdcaa, #e5e1ab); */
	color: var(--fg-primary);
	background-position: 0% 100%;
	@apply pb-1;
}

.link.active:before {
	background: radial-gradient(var(--yellow), var(--green), var(--blue), var(--purple));
	border-radius: 50%;
	content: '';
	height: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	width: 0.5em;
	z-index: -1;
}

.link:after {
	content: '';
	@apply rounded;
	position: absolute;
	left: 0;
	bottom: -2.5px;
	height: 2.5px;
	width: 100%;
	background: linear-gradient(
		214deg,
		var(--purple),
		var(--blue),
		var(--green),
		var(--yellow)
	);
}

.link:hover:after {
	background: transparent;
}
