@responsive {
	.vertical-nav-wrapper {
		display: grid;
		grid-template-columns: 2rem 1fr;
	}

	.vertical-nav-wrapper--hide {
		grid-template-columns: 1fr;
	}

	.vertical-nav-offset {
		padding-left: 2.5rem !important;
	}

	.vertical-nav-offset--none {
		padding-left: theme('spacing.2') !important;
	}
}

.vertical-nav--items {
	@apply flex;
	@apply items-center;
	@apply justify-center;
	@apply h-8;
	color: var(--fg-primary);
	/* This transform makes the navigation visible.
	 *   We rotate 90 degrees to make it a vertical navigation
	 *   We offset it -1rem in the X direction to line it up with its parent
	 *   We offset it -1rem in the Y direction to prevent content clipping
	 */
	transform: rotate(90deg) translateX(-1rem) translateY(-1rem);
	transform-origin: left;
	/**
	 * The width of the element is actually the height since it's rotated 90deg.
	 * We make it 3rem shorter than the viewport to account for the fixed header
	 */
	width: calc(100vh - theme('spacing.12'));
}

.vertical-nav--items a {
	--active-nav-color: theme('colors.yellow.600');
	@apply transition-colors;
	@apply duration-500;
}

.dark .vertical-nav--items a {
	--active-nav-color: var(--verb-color);
}

.vertical-nav--items a.active {
	color: var(--active-nav-color)
}
