* {
	font-family: sans-serif;
}
body {
	background: #222;
	color: #fbfbfb;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex.centered {
	align-items: center;
	justify-content: center;
}

.centered {
	text-align: center;
}

.full-height {
	min-height: 100vh;
	height: 100%;
}

.inline-links {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.inline-links li {
	text-decoration: none;
	list-style: none;
}

.inline-links .link {
	display: block;
	text-align: center;
}

.link.modern {
	position: relative;
	padding: 0.5rem 2rem;
	margin: 0.2rem 0.5rem;
	transition: all 0.4s ease;
	border: 1px solid transparent;
	border-bottom: 1px solid #fbfbfb;
	text-decoration: none;
	color: #fbfbfb;
}

.link.modern::before {
	content: '';
	box-sizing: inherit;
	position: absolute;
	left: -1px;
	top: 0.5px;
	width: 100%;
	height: 100%;
	transition: all 0.4s ease;
	border-top: 1px solid #800000;
	transform: scale3d(0, 1, 0);
}

.link.modern::after {
	content: '';
	box-sizing: inherit;
	position: absolute;
	left: -1px;
	top: 0.5px;
	width: 100%;
	height: 100%;
	transition: all 0.4s ease;
	border-left: 1px solid #800000;
	border-right: 1px solid #800000;
	transform: scale3d(1, 0, 0);
}

.link.modern:hover {
	border-bottom-color: #800000;
}

.link.modern:hover::before,
.link.modern:hover::after {
	transform: scale3d(1, 1, 1);
}

#adjectives {
	display: inline-block;
}

.for-screen-readers, .for-sr {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.no-screen-readers, .no-sr {
	speak: none;
	user-select: none;
}

#headshot {
	border-radius: 50%;
	transition: all 0.5s ease-in-out;
}

#headshot:hover {
	box-shadow: 2px 2px 5px 5px rgba(52,52,92,0.52);
}
