@import './components/tailwind-core.css';
@import './components/headings.css';
@import './components/collapsible-nav.css';
@import './components/link.css';
@import './components/button.css';
@import './components/social.css';

@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/font/orbitron-partial.woff2') format('woff2');
}

.orbitron {
	font-family: Orbitron;
}

.target\:pt-12:target {
	padding-top: theme('spacing.12');
}

.clip-arrow {
	@apply py-32;
	min-height: 30vh;
	clip-path: polygon(0 0, 50% 10vh, 100% 0, 100% 100%, 50% calc(100% - 10vh), 0% 100%);
	/* clip-path: polygon(0 30vh, 100% 0, 100% calc(100% - 30vh), 0% 100%); */
}

@tailwind utilities;
