@import './components/tailwind-core.css';
@import './components/headings.css';
@import './components/card.css';
@import './components/vertical-nav.css';
@import './components/collapsible-nav.css';

#hero {
	background: linear-gradient(240deg, #00d2ff 0, #4550c6 100%), #00D2FF;
	min-height: calc(100vh - theme('spacing.12'));
	/* clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 10vh), 0% 100%) */
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100vh - 15vh))
}

@media (max-height: 500px) {
	#hero {
		clip-path: initial;
	}

	.mb-12 {
		margin-bottom: 1.5rem;
	}
}

.target\:pt-12:target {
	padding-top: theme('spacing.12');
}

.clip-arrow {
	@apply py-32;
	min-height: 30vh;
	clip-path: polygon(0 0, 50% 10vh, 100% 0, 100% 100%, 50% calc(100% - 10vh), 0% 100%);
	/* clip-path: polygon(0 30vh, 100% 0, 100% calc(100% - 30vh), 0% 100%); */
}

#work .content {
	@apply mt-10;
	@apply items-center;
	@apply pb-12;
	@apply text-white;
}

#verb {
	@apply inline-block;
	color: rgb(233, 255, 31);
	transition: opacity 500ms ease;
	opacity: 1;
}

#verb.changing {
	opacity: 0;
}

.social svg {
	@apply h-6;
	@apply inline-block;
	@apply mx-1;
	@apply px-1;
	@apply transition;
	@apply duration-200;
}

.hover\:fill-github:hover {
	fill: #4078c0;
}

.hover\:fill-twitter:hover {
	fill: #1DA1F2;
}

.hover\:fill-linkedin:hover {
	fill: #0077B5;
}

.hover\:fill-generic:hover {
	fill: #500000;
}

@tailwind utilities;
