@import './components/tailwind-core.css';
@import './components/headings.css';
@import './components/collapsible-nav.css';
@import './components/link.css';
@import './components/button.css';
@import './components/social.css';

@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/font/orbitron-partial.woff2') format('woff2');
}

.orbitron {
	font-family: Orbitron;
}

.target\:pt-12:target {
	padding-top: theme('spacing.12');
}

nav a.active.link:before {
	background: radial-gradient(var(--yellow), var(--green), var(--blue), var(--purple));
	border-radius: 50%;
	content: '';
	height: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	width: 0.5em;
	z-index: -1;
}

.clip-arrow {
	@apply py-32;
	min-height: 30vh;
	clip-path: polygon(0 0, 50% 10vh, 100% 0, 100% 100%, 50% calc(100% - 10vh), 0% 100%);
	/* clip-path: polygon(0 30vh, 100% 0, 100% calc(100% - 30vh), 0% 100%); */
}

@tailwind utilities;
