@import './components/vertical-nav.css';
@import './components/card.css';

:root {
	--hero-bg-start: #00d2ff;
	--hero-bg-end: #4550c6;
	--verb-color: #e9ff1f;
}

:root.dark {
	/* background: linear-gradient(240deg, #460957 0, #A414CC 100%), #460957; */
	--hero-bg-start: #74248a;
	--hero-bg-end: #460957;
}

.dark .hero-wrap {
	filter: drop-shadow(0 3px 5px var(--hero-bg-start));
}

#hero {
	background: linear-gradient(
		240deg,
		var(--hero-bg-start) 0,
		var(--hero-bg-end) 100%
	), var(--hero-bg-start);
	min-height: calc(100vh - theme('spacing.12'));
	/* clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 10vh), 0% 100%) */
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100vh - 15vh));
}

@media (max-height: 500px) {
	#hero {
		clip-path: initial;
	}

	.mb-12 {
		margin-bottom: 1.5rem;
	}
}

.clip-arrow {
	--bowtie: polygon(0 0, 50% 10vh, 100% 0, 100% 100%, 50% calc(100% - 10vh), 0% 100%);
	--background: theme('colors.blue.200');
	--border: theme('colors.blue.700');
	@apply py-32;
	position: relative;;
	min-height: 30vh;
	clip-path: var(--bowtie);
	background: var(--border);
	/* clip-path: polygon(0 30vh, 100% 0, 100% calc(100% - 30vh), 0% 100%); */
}

.dark .clip-arrow {
	--background: theme('colors.blue.900');
	--border: theme('colors.indigo.500');
}

.clip-arrow::before {
	content: '';
	position: absolute;
	left: 8px;
	right: 8px;
	top: 8px;
	bottom: 8px;
	background: var(--background);
	z-index: -1;
	clip-path: var(--bowtie);
}

#work .content {
	@apply mt-10;
	@apply items-center;
	@apply pb-12;
	@apply text-white;
}

#verb {
	@apply inline-block;
	color: var(--verb-color);
	transition: opacity 500ms ease;
	opacity: 1;
}

#verb.changing {
	opacity: 0;
}
