.cover {
	background-color: theme('colors.gray.900');
	background-image: url('/blog/assets/cross-bg.jpg');
	min-height: 400px;
	height: 50vh;
}

.cover-content {
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cover-content h1 {
	@apply text-6xl;
	@apply text-gray-100;
	@apply my-5;
}

.cover-content p {
	@apply text-xl;
	@apply text-gray-300;
}

.cover + .container {
	margin-top: -150px;
}

.cover +.container::before,
.cover +.container::after {
	position: absolute;
	content: '';
	height: 151px;
	width: 150px;
	top: 0;
	background: var(--bg-primary);
}

.cover + .container::before {
	left: -149px;
	clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.cover + .container::after {
	right: -149px;
	clip-path: polygon(0 0, 0 100%, 100% 100%);
}

@media (max-width: 1700px) {
	.cover {
		height: 25vh;
	}

	.cover + .container {
		@apply my-0;
		@apply mx-auto;
		@apply px-4;
	}

	.cover +.container::before,
	.cover +.container::after {
		display: none;
	}
}
