/* Read More
/* ---------------------------------------------------------- */

.gh-readmore {
	padding: 8vmin 4vmin;
	@apply text-2xl;
}

.gh-readmore-inner {
	@apply flex;
	@apply flex-wrap;
	@apply justify-around;
}

.gh-readmore a {
	font-size: inherit;
	@apply p-4;
	@apply flex;
	@apply text-current;
	@apply no-underline;
	@apply items-center;
	@apply font-bold;
	@apply hover:text-indigo-700;
	@apply dark:hover:text-indigo-300;
}

.gh-readmore svg {
	@apply h-4;
	margin: 0.15em 0 0;
}

.gh-readmore-prev svg {
	margin-left: 2vmin;
}

.gh-readmore-next svg {
	margin-right: 2vmin;
}

#read-more-trigger {
	@apply inline;
	@apply py-4;
	@apply px-8;
	@apply m-0;
	@apply mb-4;
	@apply cursor-pointer;
}
