---
layout: main
---

<div class="container mx-auto py-2 px-6">
	<h2 class="h2 mt-16 mb-8"><span class="h2--border">Get in Touch</span></h2>
	<p class="text-left leading-10">If you want to contact me, please fill out the form below. If  forms aren't your thing, you can shoot me an email - <a class="link" href="mailto:me@vikaspotluri.me" target="_blank" rel="noopener noreferrer">me@vikaspotluri.me</a>.</p>
	<details class="container text-left mx-auto">
		<summary>PGP</summary>
		@todo
	</details>
	<form class="w-full max-w-lg mx-auto">
		<div class="w-full my-6">
			<label class="text-left block uppercase tracking-wide text-xs font-bold mb-2" for="name">Name</label>
			<input
				class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:shadow"
				id="name"
				type="text"
				placeholder="Michael Scott"
				autofocus
			/>
		</div>
		<div class="w-full my-6">
			<label class="text-left block uppercase tracking-wide text-xs font-bold mb-2" for="email">Email</label>
			<input
				class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:shadow"
				id="email"
				type="email"
				placeholder="michael.scott@dundermifflin.com"
			/>
		</div>
		<div class="w-full my-6">
			<label class="text-left block uppercase tracking-wide text-xs font-bold mb-2" for="subject">Subject</label>
			<input
				class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:shadow"
				id="subject"
				type="text"
				placeholder="I would like to buy some paper"
			/>
		</div>
		<div class="w-full my-6">
			<label class="text-left block uppercase tracking-wide text-xs font-bold mb-2" for="message">Message</label>
			<textarea
				class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:shadow min-h-32"
				id="message"
				placeholder="I want all the paper. I love paper so much. Dunder Mifflin is the best paper company on Earth"
			></textarea>
		</div>
	</form>
</div>
