---
layout: 'main'
fullTitle: Vikas Potluri - Enthusiastic hardware and software engineer
description: I'm Vikas Potluri - A passionate hardware and software engineer
---

{{#block "head"}}
<link rel="stylesheet" href="/css/index.css" />
{{/block}}

<div class="hero-wrap">
	<svg viewBox="0 0 2000 2000" xmlns='http://www.w3.org/2000/svg' preserveAspectRatio="none" class="hero-bg">
		<defs>
			<filter id='noise'>
				<feTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch' />
			</filter>
			<linearGradient x1="0" y1="0" x2="100%" y2="100%" id="gradient" gradientTransform="rotate(120) translate(-1, -1)">
				<stop class="bg-start" offset="0%"></stop>
				<stop class="bg-end" offset="100%"></stop>
			</linearGradient>
		</defs>
		<rect width="100%" height="100%" filter='url(#noise)' />
		<rect width="100%" height="100%" fill="url(#gradient)" class="gradient"></rect>
	</svg>
	<section id="hero" class="text-white flex items-center justify-center flex-col p-2">
		<h1 class="md:text-6xl sm:text-5xl text-4xl mb-12 font-bold">Howdy, I'm Vikas 👋</h1>
		<img src="/img/headshot.png" alt="My face" class="w-40 h-40 mb-12" />
		<p class="md:text-2xl text-lg mb-12">
			<span class="sr-only">designer, developer, and visualizer</span>
			<span id="verb" class="not-sr-only">Designer</span>
			of modern software and hardware</p>
		<p class="md:text-lg pb-4">I'm a Hardware Designer @ <a href="https://www.qualcomm.com" target="_blank" rel="noopener" class="link">Qualcomm</a></p>
	</section>
</div>
<section class="vertical-nav-wrapper lg:vertical-nav-wrapper--hide">
	<nav class="h-screen w-6 text-lg sticky top-0 pt-12 lg:hidden">
		<ul class="vertical-nav--items">
			<li class="px-4 leading-none"><a href="#about">About</a></li>
			<li class="px-4 leading-none"><a href="#work">Work</a></li>
			<li class="px-4 leading-none"><a href="#principles">Guiding Principles</a></li>
		</ul>
	</nav>
	<div>
		<section class="target:pt-12 p-2" id="about">
			<div class="padded-container">
				<h2 class="h2"><span class="h2--border">Who I am</span></h2>
				<p class="text-left my-6">Blocks of text suck, so here are some quick facts about me:</p>
				<ul class="text-left my-6 ml-8 list-disc lg:leading-7">
					<li>I was raised in Austin, Texas</li>
					<li>I am the loudest and proudest member of the Fightin' Texas Aggie Class of 2020 <a href="https://www.tamu.edu/traditions/aggie-culture/aggie-terminology/index.html" target="_blank" rel="noopener" class="link">WHOOP</a></li>
					<li>I graduated with a <abbr title="Bachelors of Science">B.S.</abbr> in Electrical Engineering, and a minor in Computer Science, Cyber Security, and Mathematics</li>
					<li>I'm a full-stack hardware engineer - I have experience in analog design, digital manufacturing (circuit fabrication), digital design and validation, assembly language, kernel development, low-level languages (such as C and C++), and high level languages (such as PHP and JavaScript)</li>
					<li>I like learning and making things</li>
					<li>I watch a lot more YouTube and T.V. than I'd like to admit</li>
					<li>I don't get to spend enough time enjoying life outside</li>
				</ul>
			</div>
		</section>
		<section id="work" class="clip-arrow flex items-center px-2">
			<div class="padded-container">
				<h2 class="h2 text-center lg:text-left"><span class="h2--border">What do I do?</span></h2>
				<div class="content card--wrapper">
					<div class="card card-bg-red">
						<span class="card-heading"><img src="/img/qualcomm-logo.png" alt="Qualcomm" class="w-3/4 mx-auto mx-h-20"></span>
						<ul class="card-description">
							<li>Hardware automation & scripting</li>
							<li>Design and Integration of next-gen <abbr title="System on a Chip">SoC</abbr> components</li>
							<li>Primary focus: Padring & TLMM</li>
						</ul>
						<p class="card-price">
							<small class="card-price--description">Rate:</small>
							<span class="card-price--qty">😉</span>
						</p>
						<a class="button" href="https://www.qualcomm.com/company/about" target="_blank" rel="noopener">About Qualcomm</a>
					</div>
					<div class="card card-bg-blue">
						<span class="card-heading"><img src="/img/gradebook-logo.png" alt="Gradebook" class="w-3/4 mx-auto mx-h-20"></span>
						<ul class="card-description">
							<li>Infrastructure maintenance & automation</li>
							<li>Frontend engineering & performance</li>
							<li>API security & design</li>
						</ul>
						<p class="card-price">
							<small class="card-price--description">Rate:</small>
							<span class="card-price--qty">Free!</span>
						</p>
						<a class="button" href="https://www.gradebook.app/" target="_blank" rel="noopener">Check it Out</a>
					</div>
					<div class="card card-bg-green">
						<p class="card-heading card-heading--large">Consultation / Freelancing</p>
						<p class="text-left">Areas of Expertise:</p>
						<ul class="card-description">
							<li>Performance & Security</li>
							<li>Automation</li>
							<li><a class="link" href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a> - setup, configuration, etc.</li>
						</ul>
						<p class="card-price">
							<small class="card-price--description">Rate:</small>
							<span class="card-price--qty">$60</span> / hr
						</p>
						<a class="button" href="/contact">Get in Touch</a>
					</div>
				</div>
			</div>
		</section>
		<section id="principles" class="p-2 mt-8 md:mt-24 md:mb-16">
			<div class="padded-container text-left">
				<h2 class="h2"><span class="h2--border">Guiding Principles</span></h2>
				<p class="my-4">I believe that engineers should have foundational principles that drive their decision making. Mine include: </p>
				<ul class="list-disc list-inside ml-4 lg:leading-7">
					<li>Security - nothing is 100% secure, but that doesn't mean you can settle for 70%</li>
					<li>Performance - we live in the age of fast, nobody likes slow</li>
					<li>Accessibility - design and implementation should be as inclusive as possible</li>
					<li>Minimalism - let the core experience speak for itself. Bells and whistles should enhance the experience</li>
					<li>Extensibility - design your product with the expectation that someone will try to modify it to make it work better for them</li>
					<li>Happiness - do something that people will appreciate. I personally find happiness in creating and doing things that I know will have a positive societal impact</li>
				</ul>
			</div>
		</section>
	</div>
</section>
<script src="/js/index.js"></script>
