* {
	font-family: sans-serif;
}
body {
	background: #222;
	color: #fbfbfb;
}

#content {
	box-sizing: border-box;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex.centered {
	align-items: center;
	justify-content: center;
}

.flex.hc {
	align-items: center;
}

.left {
	text-align: left;
}

.centered {
	text-align: center;
}

.full-height {
	min-height: 100vh;
	height: 100%;
}

.sticky {
	position: sticky;
}

a:link,
a:visited {
	&:not(.link) {
		text-decoration: none;
		padding: 2px;
		border: 1px solid transparent;
		border-bottom: 1px solid lightblue;
		color: lightblue;
		transition: all 0.25s ease-in-out,
					border-bottom 0.15s ease-in-out;

		&:hover {
			color: darken(lightblue, 10%);
			border: 1px solid darken(lightblue, 10%);
			border-bottom: 2px solid darken(lightblue, 10%);
		}
	}
}

.hr {
	width: 100%;
	background: darken(#fbfbfb, 50%);
	height: 1.1px;
	margin: 0 auto;
}

.w8 {
	box-sizing: border-box;
	padding: 0 20%;
	width: 100%;
}

.t10 {
	top: 10px;
}

.pt10 {
	padding-top: 10%;
}

.pl10 {
	margin-left: -10px;
}

.like-h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


li:not(.pretty-link) {
	line-height: 1.5;
	padding: 0.15em;
	font-size: 1.1em;
}

.inline-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;

	li {
		text-decoration: none;
		list-style: none;
		flex: 1;
		white-space: nowrap;
	}
	.link {
		display: block;
		text-align: center;
	}

	&.fixed {
		width: 100%;
		background: #222;
		position: fixed;
		padding: 10px;
		margin: 0;
		bottom: 0;

		.link {
			background: #222;
		}
	}
}

.link.modern {
	position: relative;
	padding: 0.5rem 2rem;
	margin: 0.2rem 0.5rem;
	transition: all 0.4s ease;
	border: 1px solid transparent;
	border-bottom: 1px solid #fbfbfb;
	text-decoration: none;
	color: #fbfbfb;

	&::before,
	&::after {
		content: '';
		box-sizing: inherit;
		position: absolute;
		left: -1px;
		top: 0.5px;
		width: 100%;
		height: 100%;
		transition: all 0.4s ease;
	}

	&::before {
		border-top: 1px solid $secondary;
		transform: scale3d(0, 1, 0);
	}

	&::after {
		border-left: 1px solid $secondary;
		border-right: 1px solid $secondary;
		transform: scale3d(1, 0, 0);
	}

	&:hover {
		border-bottom-color: $secondary;

		&::before,
		&::after {
			transform: scale3d(1, 1, 1);
		}
	}
}

#adjectives {
	display: inline-block;
}

.for-screen-readers,
.for-sr {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.no-screen-readers,
.no-sr {
	speak: none;
	user-select: none;
}

.content-section {
	display: none;

	&.active {
		display: flex;
	}
}
