.hs {
	border-radius: 50%;
	transition: all 0.5s ease-in-out;

	&:hover {
		box-shadow: 0 0 10px 10px rgba($secondary, 0.6);
	}
}

.hs-w {
	position: fixed;
	top: 1.5vh;
	left: 1.5vw;
	transition: opacity 1ms linear;
	visibility: visible;
	opacity: 1;

	.active-introduction & {
		opacity: 0;
		visibility: hidden;
	}

	.hs {
		height: 50px;
	}
}
