@import 'normalize';
@import 'mynormalize';

$primary: #111;
$secondary: #800000;
$white: #fafafa;

@import 'core';
@import 'fragmented-transitions';
@import 'headshots';
@import 'loader';
@import 'animations';
